#logo {
    height: 100%;
    margin-left: auto;
    float: right;
    display: inline;
}

#header {
    background-color: transparent;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#header a {
    font-size: 40px;
    position: absolute;
    text-decoration: none;
    display: block;
    color: orange;
    letter-spacing: 3px;
}

#footer {
    background-color: #f3c3d1;
    height: 100%;
    width: 100%;
    clear: both;
    color: #f4376d;
}

#footer a {
    color: #f4376d;

}

iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-height: auto;

}

* {
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

#container {
    background-color: transparent;
    width: 100%;
    margin: 20px auto;
}

.container-shadow {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.30)
}

body {
    background-color: #fbbccc4d;
    padding: 0px;
    margin: 0px;
}

#container-main {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.30);
}

#left {
    background-color: transparent;
    padding-top: 10px;
    width: 20%;
    height: 100%;
    float: left;
    padding: 8px;
}

#main {
    background-color: transparent;
    width: 60%;
    height: 100%;
    float: left;
    padding: 8px;
    color: #f4376d;
}

#right {
    background-color: transparent;
    float: left;
    width: 20%;
    height: 100%;
    padding-left: 8px;
    color: #f4376d;
}

.karnevalstaget {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;

}

.karnevalstaget img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display: block;
}

#karnevalister {
    width: 50%;
    margin: 0 auto;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #f4376d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #FBBCCC;
}

@media only screen and (max-width: 1023px) {

    #left {
        display: none;
    }

    #main {
        width: 70%;
    }

    #right {
        width: 30%;
        height: 100%;
    }

}

@media only screen and (max-width: 768px) {

    #left {
        display: none;
    }

    #main {
        width: 100%;
        padding: 0;
    }

    #right {
        display: none;
    }
    #header a{
        font-size: 26px;
    }
}
