#main-content {
    background-image: url(/bilder/day.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:30px;
}
#main-content:hover > button{
    display: block;
}

button {
    background-color: #f4376d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    display: none;
}

button:hover {
    background-color: #fbbccc;
}

.main-info {
    height: 100%;
    padding: 20px 40px;
    text-align: center;
    word-spacing: 2px;
    line-height: 1.8;
    background-color: white;
    float: left;
    width:100%;
}

#main-map {
    background-image: url(/bilder/karta.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
    margin-bottom: 30px;
    margin-top:30px;
}
#main-map:hover > button{
    display: block;
}

.half-div {
    width: 50%;
    float: left;
    padding: 0 10px;
    height: 100%;
}

.main-list li {
    text-align: left;
}

a {
    color:#f4376d;
}


@media only screen and (max-width: 1023px) {
    .half-div{
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .half-div{
        width: 100%;
    }
}
