#main-content {
    background-image: url(/bilder/day.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:30px;
}
#main-content:hover > button{
    display: block;
}

button.main{
    background-color: #f4376d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    display: none;
}

button.main:hover {
    background-color: #fbbccc;
}

.main-info {
    margin-bottom: 30px;
    height: 100%;
    padding: 20px 40px;
    text-align: center;
    word-spacing: 2px;
    line-height: 1.8;
    background-color: white;
    float: left;
    width:100%;
}

.post {
	width: 100%;
	height:100%;
	border: none;
	float:left;
	background-color: white;
	margin-bottom: 30px;
	display: flex;
}

.post-img {
	width: 25%;
	height: auto;
	float: left;
	display: grid;
}
.post-img  img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.post-right {
	width: 75%;
	height: auto;
	float: left;
	padding: 25px 40px;
}

.post-head {
	width: 100%;
	height: auto;
	text-align: center;
	position: relative;
}

.post-text {
	width: 100%;
	height: auto;
	text-align: center;
	position: relative;
	word-spacing: 2px;
    line-height: 1.8;
}

.post p {
	margin: 0;
	padding: 0;
}
.post h2{
	margin: 0;
	padding: 20px;
}

.faq-form{
	margin: auto;
	text-align: left;
	width: 85%;	
}

.question-form{
	background-color:white;
	margin: auto;
	margin-bottom: 10px;
	text-align:left;
	width:90%;
}
.question-info{
	width:20%;
	float: left;
	height: 100%
}
.question{
	width:60%;
	float:left;
	height: 100%;
}
.question-answer{
	width:20%;
	float:left;
	height: 100%;
}

#main-map {
    background-image: url(/bilder/karta.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top:30px;
}
#main-map:hover > button{
    display: block;
}

.half-div {
    width: 50%;
    float: left;
    padding: 0 10px;
    height: 100%;
}

.main-list li {
    text-align: left;
}

a {
    color:#f4376d;
}

.tableGroup{
	border-collapse: collapse;
  	width: 100%;
  	background-color: white;
  	color: black;
  	font-size: 14px;
}
.btnSuccess{
	background-color: #4CAF50;
	color:white;
	}
.btnDanger{
	background-color:#f44336;
	color:white;
}
.btnInfo{
	background-color: #008CBA;
	color:white;
}

.tableGroup th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.tableGroup tr:nth-child(4n+2), .tableGroup tr:nth-child(4n+3){background-color: #f2f2f2;}

.tableGroup tr:hover {background-color: #ddd;}

.tableGroup th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: black;
}
#showMailArea{
	margin: 2em 0;
}
#search_text{
	margin:0;
}
#mailArea{
	margin-bottom:0.5em;
}
#sendMail{
		display:block;
	
}
#labelResponse{
	color: #f4376d;
}
#posts h1{
		 border-bottom-style: solid;
	
}
.posts{
	margin-bottom:2em;
	 border-bottom-style: solid;
}
.posts img{
	
}
@media only screen and (max-width: 1024px) {
#main > #login {
	width:100%;
	padding-left:10em;
	padding-right:10em;
}

#login h2{
	text-align:center;
}
@media only screen and (max-width: 1023px) {
    .half-div{
        width: 100%;
    }
    button.main{
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .half-div{
        width: 100%;
    }
    button.main{
        display: block;
    }
}
