#main-content {
    box-sizing: border-box;
    background-image: url(/bilder/day.jpg);
    background-position: center;
    background-size:cover;
    box-sizing: border-box;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}


button {
    background-color: orange;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
