#nav {
    padding-left: 20%;
    background-color: #FBBCCC;
    font-size: 14px;
    text-align: left;
    font-family: sans-serif;
    text-transform: uppercase;
    
}

/*Phone Bar*/
.phone-bar {
    list-style: none;
    margin: 0;
    padding: 0;
}

.phone-bar a {
    display: none;
}

/*Level 1 - NavBar*/
.navClass,
.navClass a {
    color: #f4376d;
    letter-spacing: 1.5px;
}

.navClass ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navClass li {
    position: relative;
    z-index: 3;
}

.navClass a {
    padding: 16px 25px;
    display: block;
    text-decoration: none;
}

.navClass a:hover {
    background-color: #ffe1e9;
}

.navClass > li {
    display: inline-block;
    vertical-align: top;
}

.navClass > li:first-child {
    margin-left: 0;
}

.navClass > li > a {}

.navClass > li > a:hover {}

/*Level 2 */

.navClass > li > ul {
    text-align: left;
    width: 100%;
    display: none;
    background: #FBBCCC;
    position: absolute;
    top: 100%;
    left: 0;
}

.navClass > li:hover > ul {
    display: block;
}

.navClass ul li a {}

.navClass ul li a:hover {}

/*Level 3*/

.navClass > li > ul > li > ul {
    text-align: left;
    display: none;
    background: #FBBCCC;
    position: absolute;
    left: 100%;
    top: 0;
}

.navClass > li > ul > li:hover > ul {
    display: block;
}

.navClass ul ul li {}

.navClass ul ul li a {}

.navClass ul ul li a:hover {}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 2px 15px #999;
        z-index:3;
    
}

.sticky + #container-main {
    padding-top: 45px;
}

.phone-bar > li > a img {
    width: 40px;
    height: auto;
}

@media only screen and (max-width: 1023px) {
    #nav {
        padding-left: 0;
        background-color: #FBBCCC;
    }

    .sticky + #container-main {
        padding-top: 37px;
    }

    .navClass {
        display: none;
        background-color: #FBBCCC;
    }

    /*TOP NAV*/
    .phone-bar {
        width: 100%;
    }

    .phone-bar a {
        display: block;
        padding: 40px 25px;
        width: 100%;
        background-color: #FBBCCC;
        text-decoration: none;
    }

    .phone-bar > li:hover > .navClass {
        display: contents;
    }

    .phone-bar > li > .navClass > #home {
        display: none
    }

    .navClass > li {
        width: 100%;
        z-index: 1;
    }

    .phone-bar > li > .navClass > li > ul {
        position: relative;
    }

    .phone-bar > li > .navClass > li > a {
        padding-left: 5%;
    }

    .phone-bar > li > .navClass > li {
        margin: 0;
        padding: 0;
    }

    .phone-bar > li > .navClass > li > ul > li > a {
        padding-left: 10%;
    }

    .phone-bar li .navClass li a {}

    .phone-bar li .navClass ul li a:hover {}
}

@media only screen and (max-width: 768px) {

    .sticky + #container-main {
        padding-top: 37px;
    }
}
