#nav {
    padding-left: 20%;
    background-color: #FBBCCC;
    font-size: 14px;
    text-align: left;
    font-family: sans-serif;
    text-transform: uppercase;
}

.navClass a {
    color: #f4376d;
    letter-spacing: 1.5px;
}

/*Level 1 - NavBar*/
.navClass,
.navClass ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.navClass li {
    position: relative;
}

.navClass a {
    padding: 16px 25px;
    display: block;
    text-decoration: none;
}

.navClass a:hover {
    background-color: #ffe1e9;
}

.navClass > li {
    display: inline-block;
    vertical-align: top;
}

.navClass > li:first-child {
    margin-left: 0;
}

.navClass > li > a {}

.navClass > li > a:hover {}

/*Level 2 */

.navClass > li > ul {
    text-align: left;
    width: 100%;
    display: none;
    background: #FBBCCC;
    position: absolute;
    top: 100%;
    left: 0;
}

.navClass > li:hover > ul {
    display: block;
}

.navClass ul li a {}

.navClass ul li a:hover {}

/*Level 3*/

.navClass > li > ul > li > ul {
    text-align: left;
    display: none;
    background: #FBBCCC;
    position: absolute;
    left: 100%;
    top: 0;
}

.navClass > li > ul > li:hover > ul {
    display: block;
}

.navClass ul ul li {}

.navClass ul ul li a {}

.navClass ul ul li a:hover {}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + #container-main {
    padding-top: 45px;
}

}


@media only screen and (max-width: 1023px) {
    #nav {
        padding-left: 0;
    }
    .sticky + #container-main {
        padding-top: 37px;
    }
}

@media only screen and (max-width: 768px) {
        .sticky + #container-main {
        padding-top: 37px;
    }
}
